# -----------------------------------------------------
#  Cilium installation values template.
#
#  - k8sServiceHost: The IP address of the Kubernetes control plane node.
#    This should be set to the address where the Kubernetes API server is accessible.
#    Value is injected from the Ansible variable `k8s_cplane_addr`.
#
#  - k8sServicePort: The port on which the Kubernetes API server listens.
#    Default is 6443.
#
#  - ipam.operator.clusterPoolIPv4PodCIDRList:
#    List of IPv4 CIDRs to be used for allocating pod IPs in the cluster.
#    Value is injected from the Ansible variable `k8s_pod_network_cidr`.
# -----------------------------------------------------
# See: https://docs.cilium.io/en/stable/helm-reference
# -----------------------------------------------------

k8sServiceHost: "{{ k8s_cplane_addr }}" # Control plane host IP
k8sServicePort: 6443 # Kubernetes API server port
ipam:
  operator:
    clusterPoolIPv4PodCIDRList:
      - "{{ k8s_pod_network_cidr }}" # Pod network CIDR for Cilium
